@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: rgb(222, 209, 135);
}

.titulo {
    font-family: 'Raleway', sans-serif;
    color: darkgoldenrod;
}

.paragrafo {
    font-family: 'Raleway', sans-serif;
    color: darkgoldenrod;
}

.ancora {
    font-family: 'Raleway', sans-serif;
    color: darkgoldenrod;
}