body {
    background-color: rgb(29, 123, 126);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
}

header{
    color: white;
    text-align: center;
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}

#sexo {
    margin-top: 15px;
}

#masc {
    margin-top: 15px;
    margin-bottom: 15px;
}

#res {
    margin-top: 15px;
}

footer {
    color: white;
    text-align: center;
    margin-top: 15px;
}