body {
    background-color: rgb(138, 187, 194);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 15pt;
}

#res {
    margin-top: 20px;
    font-size: 18pt;
}